/*/* CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
/* End of CSS Reset */*/

body, nav, ul, li, a  {margin: 0; padding: 0;}
body {font-family: "Roboto", Helvetica, Arial, sans-serif; }

/* Typography */
h1 {
    margin: 0;
    font-size: 36px;
    color: #5B9BD5;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 26px;
    letter-spacing: 1px;
    color: #5B9BD5;
    max-width: 600px;
    min-width: 300px;
    margin: 0 auto;
    margin-bottom: 15px;
    margin-top: 50px;
}

h4 {
    font-size: 22px;
    max-width: 600px;
    min-width: 300px;
    margin: 0 auto 24px auto;
    color: #5B9BD5;
    /*letter-spacing: 1px;*/
    text-transform: uppercase;
}

h5 {
    max-width: 600px;
    min-width: 300px;
    margin: 0 auto 5px auto;
    color: #5B9BD5;
    font-size: 18px;
    margin-top: 10px;
}

p {
    font-size: 14px;
    color: black;
    font-weight: 300;
    max-width: 600px;
    min-width: 300px;
    margin: 0 auto;
    margin-bottom: 10px;
}

a {text-decoration: none;}
/* END of TOPOGRAPHY */

/* TOP NAVIGATION */
.logo {
    color: #5B9BD5;
    font-weight: 900;
    float: left;
}

.logo span {
    color: #929292;
}

.container {
    padding: 0 10px;
    width: 100%;
    margin: 0 auto;
}

/*.container.content {
    padding: 0 15px;
}
*/
header {
    margin: 0 auto;
    text-align: center;
}

.toggleMenu {
    margin: 10px auto 0 auto;
    background: #5B9BD5;
    padding: 10px 15px;
    color: white;
    text-transform: uppercase;
    border-radius: 5px;
    letter-spacing: 2px;
    font-weight: 700;
}
.nav {
    margin-top: 10px;
    list-style: none;
     *zoom: 1;
     background: #fff;
}
.nav:before,
.nav:after {
    content: " "; 
    display: table; 
}
.nav:after {
    clear: both;
}
.nav > ul {
    list-style: none;
}
.nav a {
    padding: 15px 15px;
    color: #929292;
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 500;
}

.nav a:hover {
    color: #5B9BD5;
}
.nav li {
    position: relative;
}
.nav > li {
    display: inline-block;
    margin: 0 auto;
    /*float: left;*/
    /*border-top: 3px solid #5B9BD5;*/
}

.nav > li > .parent {
   /* background-image: url("http://webdesigntutsplus.s3.amazonaws.com/tuts/378_tessa/tessa-lt-dropdowns-21c7868/images/downArrow.png");*/
    background-repeat: no-repeat;
    background-position: right;
}
.nav > li > a {
    display: block;
}
.nav li  ul {
    position: absolute;
    left: -9999px;
}
.nav > li.hover > ul {
    left: 0;
}
.nav li li.hover ul {
    left: 100%;
    top: 0;
}
.nav li li a {
    display: block;
    background-color: white;
    position: relative;
    z-index: 100;
    border-top: 1px solid white;
}
.nav li li li a {
    background-color: #5B9BD5;
    color: white;
    z-index:200;
    border-top: 1px solid white;
}

@media screen and (max-width: 768px) {
    .active {
        display: block;
    }
    .nav > li {
        float: none;
    }
    .nav > li > .parent {
        background-position: 95% 50%;
    }
  
    .nav > li > .parent {
   background-image: none; 
  }
    .nav li .more {
        background-image: url("http://webdesigntutsplus.s3.amazonaws.com/tuts/378_tessa/tessa-lt-dropdowns-21c7868/images/downArrow.png");
        background-repeat: no-repeat;
        background-position: 95% 50%;
        float: right;
      	width: 20%;
    		border-left: 1px solid rgba(255,255,255,.3);
    		padding: 8px 15px;
    		margin: 2px 5px 2px 0px;
        cursor: pointer;
    		z-index: 200;
        position: relative;
    }
  .nav li .more:before {
  content: "";
  background: white;
  color: black;
  width: 1px;
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: -2px;
  }
  
    .nav ul {
        display: block;
        width: 100%;
    }
   .nav > li.hover > ul , .nav li li.hover ul {
        position: static;
    }  

}
/* End of TOP NAVIGATION */

/* Top Border for ALL pages, except Home Page */
.top-border {
    background-color: #5B9BD5;
    opacity: .2;
    height: 50px;
    margin-top: 10px;
}
/*End of TOP BORDER */

/* Start of HOME PAGE SLIDESHOW */
.cycle-slideshow, .cycle-slideshow * { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

.cycle-slideshow { display: none; overflow-x:hidden;
    /*overflow-y:hidden;*/ height: 655px; width: 100%; min-width: 320px; max-width: 1275px; margin: 50px auto 0 auto; padding: 0; position: relative;
    background: url(http://malsup.github.com/images/spinner.gif) 50% 50% no-repeat;

 }
.cycle-slideshow img { 
    position: absolute; overflow-x:hidden;
    /*overflow-y:hidden;*/ top: 0; margin: 0 auto;
    width: 100%; min-width: 320px; max-width: 1275px; height: 655px; padding: 0; display: block;
}

.cycle-slideshow img:first-child {
    position: static; z-index: 100;
}
.cycle-pager { 
    display: none; text-align: center; width: 100%; z-index: 500; position: absolute; top: 10px; /*overflow: hidden;*/
}
.cycle-pager span { 
    font-family: arial; font-size: 50px; width: 16px; height: 16px; 
    display: inline-block; color: #ddd; cursor: pointer; 
}
.cycle-pager span.cycle-pager-active { display: none; color: #D69746;}
.cycle-pager > * { cursor: pointer;}
.cycle-caption { position: absolute; color: white; bottom: 15px; right: 15px; z-index: 700;}
/* overlay */
.cycle-overlay { 
    font-family: 'Roboto'; font-size: 18px; font-weight: 500; text-align: center;
    position: absolute; top: 0; bottom: 5; width: 50%; height: auto; z-index: 200;
    background: #5B9BD5; color: white; padding: 8px; opacity: .7;
}
.cycle-prev, .cycle-next {position: absolute; top: 0; width: 300px; opacity: 0; filter: alpha(opacity=0); z-index: 800; height: 100%; cursor: pointer; }
.cycle-prev { left: 0;  background: url(http://malsup.github.com/images/left.png) 50% 50% no-repeat;}
.cycle-next { right: 0; background: url(http://malsup.github.com/images/right.png) 50% 50% no-repeat;}
.cycle-prev:hover, .cycle-next:hover { opacity: .7; filter: alpha(opacity=70) }

.disabled { opacity: .5; filter:alpha(opacity=50); }

.cycle-paused:after {
    content: 'Paused'; color: white; background: black; padding: 10px;
    z-index: 500; position: absolute; top: 10px; right: 10px;
    border-radius: 10px;
    opacity: .5; filter: alpha(opacity=50);
}
@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
    .cycle-slideshow { width: 200px; height: auto;}
    .cycle-slideshow img {width: 200px; height: auto;}
    .cycle-prev, .cycle-next {display: none;}
    .cycle-overlay { display: none; padding: 4px }
    .cycle-caption { bottom: 4px; right: 4px }
}
@media screen and (max-width: 768px) {
    .cycle-slideshow { width: 400px; height: auto;}
    .cycle-slideshow img {width: 400px; height: auto;}
    .cycle-overlay {font-size: 14px; min-width: 400px;}
}
/* End of HOME PAGE SLIDESHOW */

/* HOME PAGE Mission Statement Section */
#mission h3 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 26px;
    font-weight: 500;
    color: #5B9BD5;
}

#mission hr {
    width: 100px;
    height: 2px;
    margin: 50px auto 15px auto;
    background-color: #5B9BD5;
    border-color: #5B9BD5;
}

#mission .mission-heading {
    margin-top: 50px;
}

#mission .mission-p {
    color: black;
    font-size: 20px;
    line-height: 26px;
}

#mission .about-us {
    margin-bottom: 10px;
    color: #5B9BD5;
    font-weight: 500;
}

#mission p {
    margin-bottom: 10px;
    line-height: 20px;
}
/* End of Mission Statement Section of HOME PAGE */

/* ABOUT US Page */
#about-us {
    margin-bottom: 60px;
}

#scientific-founders {
    margin-bottom: 40px;
}

#scientific-founders h4 {
    font-weight: 500;
}

#board-of-directors h4 {
    font-weight: 500;
}

#scientific-advisory h4 {
    font-weight: 500;
}

#board-of-directors {
    margin-bottom: 40px;
}

.about-side-nav {
    position: fixed;
    margin-top: 30px;
    font-size: 10px;
}

.about-side-nav .nav li {
    display: block;
    font-size: 10px;
}

.about-side-nav .nav a {
    font-size: 11px;
}

/* FOOTER for ALL pages */
.footer {
    margin-top: 50px;
    border-top: 3px solid #3482c9;
    height: 220px;
    width: 100%;
    background-color: #5B9BD5; 
    text-align: center;
}

.footer p {
    padding-top: 50px;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 300;
    color: white;
}

.footer hr {
    margin: 20px auto;
    width: 10%;
    height: 2px;
    color: #2e75b5;
    border-color: #2e75b5;
}
.footer .icons > li {
    border-radius: 1.25rem;
    width: 2.5rem;
    height: 2.5rem;
    display: inline-block;
    margin: 1.25rem 5px;
    padding: 0.33rem 0;
    text-align: center;
    font-size: 28px;
}
.footer .icons > li:hover {
    cursor: pointer;
}
.footer .twitter {
    color: white;
}

.footer .facebook {
    color: #0000FF;
}
.footer .linkedin {
    color: white;
}
/* END of FOOTER */

@media screen and (max-width: 1400px) {
    #about .about-side-nav {
        visibility: hidden;
    }
}

@media screen and (max-width: 720px) {
    .logo {
        margin-top: 10px;
    }
    #about {
        padding: 0 20px;
    }
    #about h3 {
        font-size: 20px;
    }

    #about hr {
        display: none;
    }
    #about .mission {
        font-size: 16px;
    }
}